# Node modules
node_modules/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.vercel/
public/

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db
